<nav>
  <ul>
    <li><a href="/" title="Home Page">Home</a></li>
    <li><a href="/inventory" title="Our Inventory">Inventory</a></li>
    <li><a href="/account" title="My Account">My Account</a></li>
  </ul>
</nav>
